In [1]:
import pandas as pd

# homicidios

In [25]:
hechos=pd.read_excel('dataset\homicidios.xlsx',sheet_name='HECHOS')
victimas=pd.read_excel('dataset\homicidios.xlsx',sheet_name='VICTIMAS')

In [26]:
hechos.sample()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
93,2016-0122,1,2016-09-13,2016,9,13,07:10:00,7,AV EVA PERON 4233,AVENIDA,...,4233.0,NaN,"PERON, EVA AV. 4233",9,Point (99150.75069529 97484.46650280),-58.47256391,-34.65194557,BICICLETA-PASAJEROS,BICICLETA,PASAJEROS

In [27]:
victimas.sample()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
286,2018-0001,2018-01-01,2018,1,1,PEATON,PEATON,MASCULINO,83,2018-01-02 00:00:00

# Lesiones

In [28]:
hechos_lesiones=pd.read_excel('dataset\lesiones.xlsx',sheet_name='HECHOS')
victimas_lesiones=pd.read_excel('dataset\lesiones.xlsx',sheet_name='VICTIMAS')

In [29]:
hechos_lesiones.sample()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
19693,LC-2021-0303253,1,2021,6,27,2021-06-27 00:00:00,21:09:00,21,"BRAVO, MARIO y CORDOBA AV.",14,...,-34.597854205101,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD

In [30]:
victimas_lesiones.sample()

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
21598,LC-2021-0343229,2021,7,14,2021-07-14,MOTO,Varon,50,SD